#navbar {
    text-align: center;
    background-color: rgb(43, 119, 226);
}

#navbar a {
    color: rgb(17, 16, 16);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#profile-link {
    text-align: center;

}

body {
    background-image: url("background.jpg");
    text-align: center;
    background-size: cover;
    background-position: center;

}

.container h1,
.container h2 {
    color: white;
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 0px;
    margin: 0px;

}

#footer-nav {
    background-color: black;
    color: #fffdfd;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.nav-section {
    flex: 1;
    margin: 0 10px;
}
html,
body{
    margin: 0px;
    padding: 0px;
}