#navbar {
    text-align: center;
    background-color: rgb(16, 15, 15);
    padding: 10px;
}

#navbar a {
    color: rgb(17, 16, 16);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
}

#profile-link {
    text-align: center;

}

body {
    background-image: url("background.jpg");
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 100%;

}

.container h1,
.container h2 {
    color: white;
}

footer {
    bottom: 0;
    padding: 0px;
    position: fixed;
    width: 100%;


}

#footer-nav {
    background-color: rgb(16, 15, 15);
    color: #fffdfd;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.nav-section {
    flex: 1;
    margin: 0 10px;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

h6 {
    color: rgb(172, 158, 7);
}

ul {
    list-style: none;
}

h5 {
    color: #fcffec;
    padding: 10px;
}